In [ ]:
# 1번 문제
print("hellow world")

In [ ]:
#2번 문제
print("Mary's cosmetics")

In [ ]:
#3번 문제
print('신씨가 소리질렀다. "도둑이야"')

In [ ]:
#4번 문제
print("C:\windows")

In [ ]:
#5번 문제
print("안녕하세요. \n만나서\t\t반갑습니다.")

In [ ]:
#6번 문제
print("오늘은", "일요일")

In [ ]:
#7번 문제
print("naver", "kakao", "samsung", sep=";")

In [ ]:
#8번 문제
print("naver", "kakao", "samsung", sep="/")

In [ ]:
#9 문제
print("first", end=""); print("second")

In [ ]:
#10번 문제
print(5/3)

In [ ]:
#11번 문제
samsung = 60000
sum = samsung * 10
print(sum)

In [ ]:
#12번 문제
Sum = 298000000000000
Now = 50000
PER = 15.79
print(Sum, type(Sum))
print(Now, type(Now))
print(PER, type(PER))

In [ ]:
#13번 문제
s = "hello"
t = "python"
print(s+"!", t)

In [ ]:
#14번 문제
print(2 + 2 * 3)

In [ ]:
#15번 문제
a = "132"
print(type(a))

In [ ]:
#16번 문제
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

In [ ]:
#17번 문제
num = 100
result = str(num)
print(result, type(result))

In [ ]:
#18번 문제
data = "15.79"
data = float(data)
print(data, type(data))

In [ ]:
#19번 문제
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

In [ ]:
#20번 문제
month_price = 48584
m = 36
totol_price = month_price
print(totol_price * m)

In [ ]:
#21번 문제
letters = 'python'
print(letters[0], letters[2])

In [ ]:
#22번 문제
license_plate = "24가 2211"
print(license_plate[-4:])

In [ ]:
#23번 문제
string = "홀짝홀짝홀짝"
print(string[::2])
print(string[0],string[2],string[4],sep="")

In [ ]:
#24번 문제
string = "PYTHON"
print(string[::-1])

In [ ]:
#25번 문제
phone_number = "010-1111-2222"
phone_numberN = phone_number.replace("-", " ")
print(phone_numberN)

In [ ]:
#26번 문제
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

In [ ]:
#27번 문제
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

In [ ]:
#28번 문제

lang = 'python'
lang[0] = 'p'
print(lang)
"""
문자열은 수정할 수 없습니다.
"""

In [ ]:
#29번 문제
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

In [ ]:
#30번 문제
string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd가 그대로 출력되는 이유는!
# 문자열은 변경할 수 없는 자료형이기 때문입니다.
# replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

In [ ]:
# 조건문 실습 셀 입니다.
money =True
if money:
  print("택시를")
  print("타고") # 들여쓰기가 틀리면 에러가 발생합니다.
  print("가라")

In [ ]:
people = 3
apple = 20
if people < apple /5:
  print("신나는 사과 파티! 배터지게 먹자!")
if apple % people > 0:
  print("사과 수가 맞지 않아! 몇 개는 쪼개 먹자!")
if people > apple:
  print("사람이 너무 많아! 몇 명은 못먹겠네...")

In [ ]:
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

In [ ]:
from datetime import datetime
hour = datetime.now().hour
if hour < 12:
  print("오전입니다.")
else:
  print("오후입니다.")

In [ ]:
number = 15
if number % 3 == 0:
  print("{}는 3의 배수입니다.".format(number))

In [ ]:
number = 16
if number % 3 == 0:
  print("{}는 3의 배수입니다.".format(number))

In [ ]:
from datetime import datetime
hour = datetime.now().hour

if hour % 6 == 0:
  print('종이 울립니다.')

In [ ]:
s = '가위'
r = '바위'
p = '보'

w = '이겼다'
d = '비겼다.'
l = '졌다'

m = '기위'
y = '바위'

if m == y:
  r = d
else:
  r = '이기거나 지거나'
print(r)

In [ ]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark < 60:
    continue
  print("%d번 학생은 합격입니다." % number)

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

In [ ]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

In [ ]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result)

In [ ]:
i = 0
while True:
    i += 1 # while문 수행 시 1씩 증가
    if i > 5: break     # i 값이 5이상이면 while문을 벗어난다.
    print ('*' * i)     # i 값 개수만큼 *를 출력한다.

In [ ]:
for i in range(1, 21):
  print(i)

In [ ]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score   # A학급의 점수를 모두 더한다.

average = total / len(A) # 평균을 구하기 위해 총 점수를 총 학생수로 나눈다.
print(average) # 평균 79.0이 출력된다.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)