In [ ]:
# 조건문
# 반복문
# 100문제

# 101번 문제
# 파이썬에서 True or False 데이터 타입은? bool

In [ ]:
# 102번 문제
print(3==5)

In [ ]:
# 103번 문제
print(3<5)

In [ ]:
# 104번 문제
x = 4
print(1 < x <5)

In [ ]:
# 105번 문제
print((3==3) and (4 != 3))

In [ ]:
# 106번 문제
print(3 => 4) # 지원하지 않는 연산자라 에러 발생

In [ ]:
# 107번 문제
if 4 < 3:
  print("hello world") # 조건문의 조건이 맞지 않아 출력이 안됩니다.

In [ ]:
# 108번
if 4 < 3:
  print("Hello World")
else:
  print("Hi, there")

In [ ]:
# 109번
if True:
  print("1")
  print("2")
else:
  print("3")
print("4") # 이유없이 출력됨, 위 조건문과 연관 없음

In [ ]:
# 110번
if True:
  if False:
    print("1")
    print("2")
  else:
    print("3")
else:
  print("4")
print("5")

In [ ]:
# 111번
user = input("입력:")
print(user * 2)

In [ ]:
# 112번
num = input("숫자를 입력하세요:")
print(int(num)+10)

In [ ]:
# 113번
user = input("숫자를 입력 하세요:")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

In [ ]:
# 114번
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

In [ ]:
# 115번
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

In [ ]:
# 116번
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [ ]:
# 117번
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 118번
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

In [ ]:
# 119번
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 120번
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 121번
user = input("입력")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

In [ ]:
# 122번
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

In [ ]:
# 123번
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

In [ ]:
# 124
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 > num2 and num1 > num3:
    print(num1)
elif num2 > num1 and num2 > num3:
    print(num2)
else:
    print(num3)