In [ ]:
# 4일차 
# 반복문 조건문 문자열 변수 문제풀이

In [ ]:
# 125번

number = input("휴대전화 번호 입력:")
num = number.split("-")[0]
if num == "011":
  com = "SKT"
elif num == "016":
  com = "KT"
elif num == "019":
  com = "LGU"
else:
  com = "알수없음"
print(f"당신은 {com} 사용자 입니다.")

In [ ]:
# 126번
post_num = input("우편번호: ")
post_num = post_num[:3]
if post_num in ["010", "011", "012"]:
    print("강북구")
elif post_num in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

In [ ]:
# 127번 
number = input("주민번호:")
number = number.split("-")[1]
if number[0] == "1" or number[0] == "3":
  print("남")
else:
  print("여")

In [ ]:
# 128번
front = input("주민번호:")
back = front.split("-")[1]
if 0 <= int(back[1:3]) <= 9:
  print("서울입니다.")
else:
  print("서울이 아닙니다.")

In [ ]:
# 129번
num = input("주민등록번호: ")
Calc_1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
print(Calc_1)
Calc_2 = 11 - (Calc_1 % 11)
print(Calc_2)
Calc_3 = str(Calc_2)

if num[-1] == Calc_3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
#129번
num = input("주민번호 유효성 검사 >> ")
zip_chk1 = num.split("-")[0]
zip_chk2 = num.split("-")[1]
final_chk = num.split("-")[1][-1:]
# 1차 계산
calcu_1 = (int(zip_chk1[0])*2) + (int(zip_chk1[1])*3) + (int(zip_chk1[2])*4) + (int(zip_chk1[3])*5) + (int(zip_chk1[4])*6) + (int(zip_chk1[5])*7) + (int(zip_chk2[0])*8) + (int(zip_chk2[1])*9) + (int(zip_chk2[2])*2) + (int(zip_chk2[3])*3) + (int(zip_chk2[4])*4) + (int(zip_chk2[5])*5)
calcu_2 = calcu_1 % 11
#2차 계산
calcu_3 = 11 - calcu_2
if calcu_3 == int(final_chk):
  print("유효한 주민번호입니다")
else:
  print("유효하지 않은 주민번호입니다")

In [ ]:
# 130번
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

print(btc)

Dynamic = float(btc['max_price']) - float(btc['min_price'])
Now_price = float(btc['opening_price'])
Max_price = float(btc['max_price'])

if (Now_price+Dynamic) > Max_price:
    print("상승장")
else:
    print("하락장")

In [ ]:
# 131번
fruit = ["사과", "귤", "수박"]
for i in fruit:
  print(fruit)

In [ ]:
# 132번
fruit = ["사과", "귤", "수박"]
for i in fruit:
  print("####")

In [ ]:
# 133번
print("A")
print("B")
print("C")

In [ ]:
# 134번
print("out:", "A")
print("out:", "B")
print("out:", "C")

In [ ]:
# 135번
m = "A"
b = m.lower()
print("변환:", b)
m = "B"
b = m.lower()
print("변환:", b)
m = "C"
b = m.lower()
print("변환:", b)

In [ ]:
# 136번
L = [10, 20, 30]
for i in L:
  print(i)

In [ ]:
# 137번
for i in [10, 20, 30]:
  print(i)

In [ ]:
# 138번
for i in [10, 20, 30]:
  print(i)
  print("--------")

In [ ]:
# 139번
print("++++")
for i in [10, 20, 30]:
  print(i)

In [ ]:
# 140번
for i in [1, 2, 3, 4]:
  print("-----")

In [ ]:
# 141번
L = [100, 200, 300]
for i in L:
  print(i + 10)

In [ ]:
# 142번
L = ["김밥", '라면', "튀김"]
for i in L:
  print("오늘의 메뉴 : ", i)

In [ ]:
# 143번
L = ["SK", "Sam", "LG"]
for i in L:
  length = len(i)
  print(length)

In [ ]:
# 144번
L = ["dog", "cat", "parrot"]
for i in L:
  print(i, len(i))

In [ ]:
# 145번
name = ["dog", "cat", "parrot"]
for i in name:
  print(i[0])

In [ ]:
# 146번
L = [1, 2, 3]
for i in L:
  print("3 x", i)

In [ ]:
# 147번
L = [1, 2, 3]
for i in L:
  print("3 x ", i, "=", 3 * i)

In [ ]:
# 148번
l = ["가", "나", "다", "라"]
l = l[1:]
for i in l:
  print(i)

In [ ]:
# 149번
l = ["가", "나", "다", "라"]
for i in l[: :2]:
  print(i)

In [ ]:
# 150번
l = ["가", "나", "다", "라"]
for i in l[: :-1]:
  print(i)

In [ ]:
string = ["가","나","다","라"]
for i in range(len(string)):
  print(string[len(string)-1-i])

In [ ]:
# 151번
L = [3, -20, -3, 44]
for i in L:
  if i < 0:
    print(i)

In [ ]:
# 152번
L = [3, 100, 23, 44]
for i in L:
  if i % 3 == 0:
    print(i)

In [ ]:
# 153번
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

In [ ]:
# 154번
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

In [ ]:
# 155번
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

In [ ]:
# 156번
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

In [ ]:
# 157번
l = ['dog', 'cat', 'parrot']
for i in l:
  f = i[0]              # 1)
  big = f.upper()     # 2)
  print(big + i[1:])      # 3)

In [ ]:
# 158번
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

In [ ]:
# 159번
l = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in l:
  split = i.split(".")
  if split[1] == "h":
    print(i)

In [ ]:
# 160번
l = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in l:
  split = i.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(i)

In [ ]:
# 161번
for i in range(100):
  print(i)

In [ ]:
# 162번
for i in range(2002, 2051, 4): # 3번째 파라미터는 증감폭 결정합니다.
  print (i)

In [ ]:
# 163번
for i in range(3, 31, 3): # 3번째 파라미터는 증감폭 결정합니다.
  print (i)

In [ ]:
# 164번

#for i in range(100):
#  print (99 - i)

for i in range(99, 0, -1):
  print(i)

In [ ]:
# 165번
for i in range(10):
  print(i/10)

In [ ]:
# 166번
num = 3
for i in range(1, 10, 1):
  print(num, "x", i, "=", num*i)

In [ ]:
# 167번
num = 3
for i in range(2, 11, 2):
  print(num, "x", i, "=", num*i)

In [ ]:
# 168번
sum = 0
for i in range(1, 11):
  sum += i
print(sum)

In [ ]:
# 169번
sum = 0
for i in range(1, 11, 2):
  sum += i
print(sum)

In [ ]:
# 170번
sum = 1
for i in range(1, 11):
  sum *= i
print(sum)

In [ ]:
# 171번
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
  print(price_list[i])
print("\n")
for i in range(len(price_list)):
  print(price_list[i])

In [ ]:
# 172번
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)) :
    print(i, price_list[i])

In [ ]:
# 173번
for i in range(len(price_list)):
    print(3 - i, price_list[i])

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

In [ ]:
# 174번
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

In [ ]:
# 175번
my_list = ["가", "나", "다", "마"]
for i in[0, 1, 2]:
  print(my_list[i], my_list[i+1])

In [ ]:
# 176번
my_list = ["가", "나", "다", "마"]
for i in range( len(my_list) -2):
    print(my_list[i], my_list[i+1], my_list[i+2])

In [ ]:
# 177번
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i-0], my_list[i-1])

In [ ]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

In [ ]:
# 179번
my_list = [100,200,400,800,1000,1300]

for i in range(1, len(my_list) -1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

In [ ]:
#180번
low_prices = [100,200,400,800,1000]
high_prices= [150,300,430,880,1000]
volatility =[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)