In [ ]:
# 5일차 문제풀이

In [ ]:
# 금일 순서
# 문자열 연산자 25~100
# 반복문 180~200

In [ ]:
# 25번
phone_number = "010-8431-0554"
remove_number = phone_number.replace("-", " ")
print(remove_number)

In [ ]:
# 26번
phone_number = "010-8431-0554"
remove_number = phone_number.replace("-", "")
print(remove_number)

In [ ]:
# 27번
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[1])

In [ ]:
# 28번
lang = 'python'
lang[0] = 'P'
print(lang)

In [ ]:
# 29번
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

In [ ]:
# 30번
string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
# 31번
a = "3" #숫자가 아니다
b = "4"
print(a+b)

In [ ]:
# 32번
print("Hi" * 3)

In [ ]:
# 33번
print("-" * 10)

In [ ]:
# 34번
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

In [ ]:
# 35번
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

In [ ]:
# 36번
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

In [ ]:
# 37번
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [ ]:
# 38번
Stock = "5,969,782,550"
print(type(Stock))
remove = Stock.replace(",", "")
changeType = int(remove)
print(changeType, type(changeType))

In [ ]:
# 39번
semeter = "2020/03(E) (IFTS연결)"
print(semeter[:7])

In [ ]:
# 40번
data = "   삼성전자   "
print(data)
data1 = data.strip()
print(data1)

In [ ]:
# 41번
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

In [ ]:
# 42번
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

In [ ]:
# 43번
a = "hello"
a = a.capitalize() # 앞글자 대문자 만드는 매서드
print(a)

In [ ]:
# 44번
file_name = "보고서.xlsx"
file_name.endswith(("xlsx"))

In [ ]:
# 45번
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

In [ ]:
# 46번
file_name = "2020_보고서.xlsx"
file_name.startswith(("2010"))

In [ ]:
# 47번
a = "hello world"
a.split()

In [ ]:
# 48번
ticker = "btc_krw"
ticker.split("_")

In [ ]:
# 49번
data = "2020-05-01"
data.split("-")

In [ ]:
# 50번
data = "039490     "
data = data.rstrip()
print(data)

In [ ]:
# 51번
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

In [ ]:
# 52번
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
# 53번
movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
movie_rank.insert(1, "배트맨")
print(movie_rank)

In [ ]:
# 54번
movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]
del movie_rank[2]
print(movie_rank)

In [ ]:
# 55번
movie_rank = ["닥터 스트레인지", "슈퍼맨", "스플릿", "배트맨"]
del movie_rank[2]
print(movie_rank)
del movie_rank[2]
print(movie_rank)

In [ ]:
# 56번
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

In [ ]:
# 57번
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

In [ ]:
# 58번
nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 59번
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "파스타", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 60번
num = [1, 2, 3, 4, 5]
avg = sum(num)/len(num)
print(avg)

In [ ]:
# 61번
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 62번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 63번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 64번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::-1])

In [ ]:
# 65번
interest = ["sam", "LG", "Na"]
print(interest[0], interest[2])

In [ ]:
# 66번
interest = ["Sam", "LG", "Na", "SK", "미래"]
print(" ".join(interest))

In [ ]:
# 67번
interest = ["Sam", "LG", "Na", "SK", "미래"]
print("/".join(interest))

In [ ]:
# 68번
interest = ["Sam", "LG", "Na", "SK", "미래"]
print("\n".join(interest))

In [ ]:
# 69번
interest = "Sam/LG/Na/SK/미래"
a = interest.split("/")
print(a)

In [ ]:
# 70번
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

In [ ]:
# 71번
my_variable = ()
print(type(my_variable))

In [ ]:
# 72번
movie_lank = ("닥스", "스플", "럭키")
print(movie_lank)

In [ ]:
# 73번
my = (1,)
type(my)

In [ ]:
# 74번
t = (1, 2, 3)
t[0] ='a'
print(t)

In [ ]:
# 75번
t = (1, 2, 3, 4)
print(type(t))

In [ ]:
# 76번
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)
print(type(t))

In [ ]:
# 77번
interest = ("sam", "LG", "SK")
data = list(interest)
print(data)
# 튜플을 리스트로

In [ ]:
# 78번
interest = ["sam", "LG", "SK"]
data = tuple(interest)
print(data)
# 리스트를 튜플로

In [ ]:
# 79번
temp = ("ap", "ba", "ca")
a, b, c = temp
print(a, b, c)

In [ ]:
# 80번
data = tuple(range(2, 100, 2))
print(data)

In [ ]:
# 81번
scores = [8.8, 8.9, 8.7, 9.2, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

In [ ]:
# 82번
scores = [8.8, 8.9, 8.7, 9.2, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score2 = scores
print(valid_score2)

In [ ]:
# 83번
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score2,  _ = scores
print(valid_score2)

In [ ]:
# 84번
temp = {}
print(type(temp))

In [ ]:
# 85번
ice = {"메로나" : 1000, "폴리포" : 1200, "빵빠레":1800}
print(ice)

In [ ]:
# 86번
ice = {"메로나" : 1000, "폴리포" : 1200, "빵빠레":1800}
ice ["죠스바"] = 1200
ice ["월드콘"] = 1500
print(ice)

In [ ]:
# 87번
ice = {"메로나" : 1000, 
       "폴리포" : 1200, 
       "빵빠레" : 1800, 
       "죠스바" : 1200,
       "월드콘" : 1500}
print("메로나 얼마임?", ice["메로나"])

In [ ]:
# 88번
ice = {"메로나" : 1000, 
       "폴리포" : 1200, 
       "빵빠레" : 1800, 
       "죠스바" : 1200,
       "월드콘" : 1500}
ice["메로나"] = 1300
print("메로나 얼마임?", ice["메로나"])

In [ ]:
# 89번
ice = {"메로나" : 1000, 
       "폴리포" : 1200, 
       "빵빠레" : 1800, 
       "죠스바" : 1200,
       "월드콘" : 1500}
del ice["메로나"]
print(ice)

In [ ]:
# 90번
ice = {"메로나" : 1000, 
       "폴리포" : 1200, 
       "빵빠레" : 1800, 
       "죠스바" : 1200,
       "월드콘" : 1500}
del ice["메로나"]
print(ice)

In [ ]:
# 91번
inven = {"메로나" : [300, 20],
         "비비빅" : [400, 3],
         "죠스바" : [250, 100]}
print(inven)

In [ ]:
# 92번
print(inven["메로나"][0], "원")

In [ ]:
# 93번
print(inven["메로나"][1], "개")

In [ ]:
# 94번
inven["월드콘"] = [500, 7]
print(inven)

In [ ]:
# 95번
ice = {'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500, '메로나':1000}
price = list(ice.keys())
print(price)

In [ ]:
# 96번
ice = {'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500, '메로나':1000}
price = list(ice.values())
print(price)

In [ ]:
# 97번
ice = {'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500, '메로나':1000}
price = sum(ice.values())
print(price)

In [ ]:
# 98번
ice = {'탱크보이':1200, '폴라포':1200, '빵빠레':1800, '월드콘':1500, '메로나':1000}
new = {'팥빙수':2700, '아맛나':1000}
ice.update(new)
print(ice)

In [ ]:
# 99번
key = ("ap", "pe", "pa")
val = (300, 250, 400)
result = dict(zip(key, val))
print(result)

In [ ]:
# 100번
data = ['09/05', '09/06', '09/07', '09/08', '09/09']
clise_price = [10500, 10300, 10100, 10800, 11000]
result = dict(zip(date, close_price))
print(result)

In [ ]:
# 181번
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
print(apart)

In [ ]:
# 182번
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)

In [ ]:
# 183번
stock = {"시가" : [100, 200, 300], "종가" : [80, 210, 330]}
print(stock)

In [ ]:
# 184번
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }
print(stock)

In [ ]:
# 185번
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
  for j in i:
    print(j, "ho")

In [ ]:
# 숙제 : 185~200번까지 풀기