In [10]:
# 기본 함수의 형태
def add(a ,b):
  return a+b

In [11]:
a = 3
b = 4
c = add(a, b)
print(c)

7

In [12]:
# 일반적인 함수의 형태
def add(a, b):
  result = a + b
  return result

In [13]:
a = add(3, 4)
print(a)

7

In [14]:
# 입력값이 없는 함수
def say():
  return 'Hi'

In [15]:
a = say()
print(a)

Hi

In [19]:
# 결과값이 없는 함수
def add(a ,b):
  print("%d + %d의 합은 %d입니다." % (a, b, a+b))

In [20]:
add(3, 4)

3 + 4의 합은 7입니다.

In [21]:
# 입력값도 결과값도 없는 함수
def say():
  print('Hi')

In [22]:
# 매개변수 지정하여 호출하기
def add(a, b):
  return a+b

In [24]:
result = add(a=5, b=1)
print(result)

6

In [25]:
# 여러개의 입력값을 받는 함수 만들기
def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

In [26]:
result = add_many(1,2,3)
print(result)

6

In [27]:
result = add_many(1, 2, 3, 4, 5)
print(result)

15

In [31]:
# 여러개의 입력값을 받는 함수 
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":
      result = 1
      for i in args:
        result = result * i
  return result

In [32]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [33]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [34]:
# 키워드 파라미터 
def print_kwargs(**kwargs):
  print(kwargs)

In [35]:
print_kwargs(a=1)

{'a': 1}

In [36]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [37]:
# 함수의 결과 값은 언제나 하나

def add_and_mul(a, b):
  return a+b, a*b

In [38]:
result = add_and_mul(3, 4)

In [39]:
print(result)

(7, 12)

In [40]:
def add_and_mul_2(a, b):
  return a+b
  return a*b

In [41]:
result = add_and_mul_2(2, 3)
print(result)

5

In [42]:
# return의 또 다른 쓰임새
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

In [43]:
say_nick('야호')

나의 별명은 야호 입니다.

In [44]:
say_nick('바보')

In [49]:
# 매개변수에 초기값 미리 설정하기
def say_myself(name, old, man):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % old)
  if man:
    print("남자")
  else:
    print("여자")

In [52]:
say_myself("이길준", 29, True)

나의 이름은 이길준 입니다.
나이는 29살 입니다.
남자

In [55]:
def say_myself(name, man=True, old):
  print("나의 이름은 %s 입니다." % name)
  print("나이는 %d살 입니다." % old)
  if man:
    print("남자")
  else:
    print("여자")

SyntaxError: ignored

In [56]:
a = 1
def vartest(a):
  a = a + 1

In [57]:
vartest(a)

In [58]:
print(a)

1

In [59]:
def vartest(a):
  a = a + 1

In [60]:
vartest(3)

In [61]:
print(a)

1

In [63]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법
# return 사용하기
a = 1
def vartest(a):
  a = a + 1
  return a

In [64]:
a = vartest(a)
print(a)

2

In [65]:
a = 1
def vartest():
  global a
  a = a + 1

In [66]:
vartest()
print(a)

2

In [67]:
# Lambda 
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [68]:
# 반복문 181~200번 (숙제)

# 181번
apart = [["101호", "102호"],["201호", "202호"],["301호", "302호"]]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [69]:
# 182번
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [70]:
# 183번
stock = {"시가":[100, 200, 300], "종가":[80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [72]:
# 184번
stock = {"10/10":[80, 110, 70, 90], "10/11":[210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [74]:
# 185번
apart = [["101호", "102호"],["201호", "202호"],["301호", "302호"]]
for row in apart:
  for col in row:
    print(col)

101호
102호
201호
202호
301호
302호

In [75]:
# 186번
apart = [[101, 202], [201, 202], [301, 302]]
for row in apart[::-1]:
  for col in row:
    print(col, "Ho")

301 Ho
302 Ho
201 Ho
202 Ho
101 Ho
202 Ho

In [76]:
# 187번
apart = [[101, 202], [201, 202], [301, 302]]
for row in apart[::-1]:
  for col in row[::-1]:
    print(col, "Ho")

302 Ho
301 Ho
202 Ho
201 Ho
202 Ho
101 Ho

In [78]:
# 188번
apart = [[101, 202], [201, 202], [301, 302]]
for row in apart:
  for col in row:
    print(col, "Ho")
    print("-" * 5)

101 Ho
-----
202 Ho
-----
201 Ho
-----
202 Ho
-----
301 Ho
-----
302 Ho
-----

In [81]:
# 189번
apart = [[101, 202], [201, 202], [301, 302]]
for row in apart:
  for col in row:
    print(col, "Ho")
  print("-" * 5)

101 Ho
202 Ho
-----
201 Ho
202 Ho
-----
301 Ho
302 Ho
-----

In [82]:
# 190번
apart = [[101, 202], [201, 202], [301, 302]]
for row in apart:
  for col in row:
    print(col, "Ho")
print("-" * 5)

101 Ho
202 Ho
201 Ho
202 Ho
301 Ho
302 Ho
-----

In [88]:
# 191번
data = [
        [2000, 3050, 2050, 1980],
        [7500, 2050, 2050, 1980],
        [15450, 15050, 15550, 14900]
]

for line in data:
  for col in line:
    print("수수료 :", col * 1.00014)

수수료 : 2000.28
수수료 : 3050.427
수수료 : 2050.2870000000003
수수료 : 1980.2772
수수료 : 7501.05
수수료 : 2050.2870000000003
수수료 : 2050.2870000000003
수수료 : 1980.2772
수수료 : 15452.163
수수료 : 15052.107
수수료 : 15552.177
수수료 : 14902.086000000001

In [89]:
# 192번
data = [
        [2000, 3050, 2050, 1980],
        [7500, 2050, 2050, 1980],
        [15450, 15050, 15550, 14900]
]

for line in data:
  for col in line:
    print("수수료 :", col * 1.00014)
  print("-" * 4)

수수료 : 2000.28
수수료 : 3050.427
수수료 : 2050.2870000000003
수수료 : 1980.2772
----
수수료 : 7501.05
수수료 : 2050.2870000000003
수수료 : 2050.2870000000003
수수료 : 1980.2772
----
수수료 : 15452.163
수수료 : 15052.107
수수료 : 15552.177
수수료 : 14902.086000000001
----

In [98]:
# 193번
data = [
        [2000, 3050, 2050, 1980],
        [7500, 2050, 2050, 1980],
        [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [99]:
# 194번
data = [
        [2000, 3050, 2050, 1980],
        [7500, 2050, 2050, 1980],
        [15450, 15050, 15550, 14900]
]
result = []
for line in data:
  sub = []
  for col in line:
    sub.append(col * 1.00014)
  result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [103]:
# 195번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
  print(row[3])

100
190
310

In [105]:
# 196번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
  if(row[3]>150):
    print((row[3]))

190
310

In [111]:
# 197번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [113]:
# 198번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
  volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [114]:
# 199번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
  if row[3] > row[0]:
    print(row[1]-row[2]) #고가 -시가

10

In [117]:
# 200번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
  profit += (row[3]-row[0])
print(profit)

0

In [124]:
# 함수 문제 풀이

# 201번
def print_coin():
  print("비트코인")

In [125]:
# 202번
print_coin()

비트코인

In [127]:
# 203번
for i in range(5):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인

In [128]:
# 204번
def print_coins():
  for i in range(5):
    print("비트코인")

In [129]:
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인

In [133]:
# 205번

hello2()

NameError: ignored

In [134]:

def hello2():
  print("korea")

In [137]:
# 206번
def message():
  print("A")
  print("B")
message()
print("C")
message()

A
B
C
A
B

In [138]:
# 207번
print("A")

def message():
  print("B")
print("C")
message()

A
C
B

In [140]:
# 208번
print("A")
def message1():
  print("B")
print("C")
def message2():
  print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [141]:
# 209번
def message1():
  print("A")
def message2():
  print("B")
  message1()
message2()

B
A

In [142]:
# 210번
def message1():
  print("A")
def message2():
  print("B")
def message3():
  for i in range(3):
    message2()
    print("C")
  message1()
message3()

B
C
B
C
B
C
A

In [143]:
# 211번
def ham(moon):
  print(moon)

ham("hi")
ham("hello")

hi
hello

In [145]:
# 212
def ham(a, b):
  print(a+b)
ham(3, 4)
ham(7, 8)

7
15

In [146]:
# 213번
def 함수(문자열):
  print(문자열)

In [149]:
함수()

TypeError: ignored

In [151]:
# 214번
def ham(a,b):
  print(a+b)
ham("안녕", 3)

8

In [152]:
# 215번
def print_with_smile(string):
  print(string + ":D")

In [153]:
# 216번
print_with_smile("안녕")

안녕:D

In [157]:
# 217번
def print_upper_price(price):
  print(price * 1.3)
print_upper_price(410)

533.0

In [163]:
# 218번
def print_sum (a, b):
  print(a+b)
print_sum(3, 5)

8

In [165]:
# 219번
def print_a_o(a, b):
  print(a, "+", b, "=", a+b)
  print(a, "-", b, "=", a-b)
  print(a, "*", b, "=", a*b)
  print(a, "/", b, "=", a/b)
print_a_o(20, 5)

20 + 5 = 25
20 - 5 = 15
20 * 5 = 100
20 / 5 = 4.0

In [167]:
# 220번
def print_max(a, b, c):
  max_val = 0
  if a > max_val:
    max_val = a
  if b > max_val:
    max_val = b
  if c > max_val:
    max_val = c
  print(max_val)

In [168]:
print_max(3, 5, 7)

7

In [171]:
# 221
def pr(string):
  print(string[::-1])
pr("python")

nohtyp

In [173]:
# 222
def ps(score):
  print(sum(score)/len(score))
ps([1, 2, 3])

2.0

In [176]:
# 223
def pe(list):
  for i in list:
    if i % 2 == 0:
      print(i)
pe([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [177]:
# 224
def pk(dic):
  for keys in dic.keys():
    print(keys)
pk({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [185]:
# 225번
my_dict = {"10/26" : [100, 130, 100, 100],
          "10/27" : [10, 12, 10, 11]}
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [184]:
# 226번
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [191]:
# 227번
def print_mxn(line, num):
  chuck_num = int(len(line)/num)
  for i in range(chuck_num + 1):
    print(line[i * num: i * num + num])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [193]:
# 228번
def calc_monthly_salary(annual_salary):
  monthly_pay = int(annual_salary/12)
  return monthly_pay
calc_monthly_salary(12000000)

1000000

In [ ]:
# 229~240번까지 추석 숙제
# Q1~Q7 숙제