In [ ]:
# 229
def my_print(a, b):
  print("left:", a)
  print("right:", b)

my_print(a=100, b=200)

In [ ]:
# 230
def my_print(a, b):
  print("left:", a)
  print("right:", b)

my_print(b=100, a=200)

In [ ]:
# 231
def n_plus_1(n):
  reuslt = n+1

n_plus_1(3)
print(result)

In [ ]:
# 232
def make_url(string):
  url = "www." + string + ".com"
  return url

In [ ]:
make_url("naver")

In [ ]:
# 233
def make_list(string):
  my_list=[]
  for i in string:
    my_list.append(i)
  return my_list

In [ ]:
make_list("abcd")

In [ ]:
# 234
def pickup_even(items):
  result = []
  for item in items:
    if item % 2 == 0:
      result.append(item)
  return result

In [ ]:
pickup_even([3, 4, 5, 6, 7, 8])

In [ ]:
# 235
def convert_int(string):
  return int(string.replace(',', ''))

In [ ]:
convert_int("1,234,567")

In [ ]:
# 236
def func(num):
  return num + 4

In [ ]:
a = func(10) # 14
print(a)
b = func(a) # 18
print(b)
c = func(b) # 22
print(c)

In [ ]:
# 237
def func(num):
  return num + 4

In [ ]:
c = func(func(func(10)))
print(c)

In [ ]:
# 238
def func1(num):
  return num + 4

def func2(num):
  return num * 10

In [ ]:
a = func1(10)
print(a)
c = func2(a)
print(c)

In [ ]:
# 239
def func1(num):
  return num + 4

def func2(num):
  num = num + 2
  return func1(num)

In [ ]:
c = func2(10)
print(c)

In [ ]:
# 240
def func0(num):
  return num * 2

def func1(num):
  return func0(num + 2)

def func2(num):
  num = num + 10
  return func1(num)

In [ ]:
c = func2(2)
print(c)

In [ ]:
# 사용자 입력과 출력
a = input()

In [ ]:
a

In [ ]:
number = input("숫자를 입력하세요:")

In [ ]:
number

In [ ]:
number = input("이름을 입력하세요:")

In [ ]:
number

In [ ]:
print("life" "is" "too short")

In [ ]:
print("life" + "is" + "too short")

In [ ]:
print("life", "is", "too short")

In [ ]:
for i in range(10):
  print(i, end=' ')

In [ ]:
# 파일 읽고 쓰기
f = open("./새파일.txt", 'w')
for i in range(1, 11):
  data = "%d 번째 줄 입니다.\n" % i
  f.write(data)
f.close()

In [ ]:
for i in range(1, 11):
   data = "%d 번째 줄 입니다.\n" % i
   print(data)

In [ ]:
f = open("./새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

In [ ]:
f = open("./새파일.txt", 'r')
while True:
  line = f.readline()
  if not line:
    break
  print(line)
f.close()

In [ ]:
f = open("./새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

In [ ]:
f = open("./새파일.txt", 'r')
data = f.read()
print(data)
f.close()

In [ ]:
f = open("./새파일.txt", 'a')
for i in range(11, 21):
  data = "%d 번째 줄 입니다. \n" % i
  f.write(data)
f.close()

In [ ]:
f = open("./새파일.txt", 'r')
data = f.read()
print(data)
f.close()

In [ ]:
# Q1
def is_odd(number):
  if number % 2 == 1:
    return True
  else:
    return False

In [ ]:
is_odd(4)

In [ ]:
# Q2
def avg_number(*args):
  result = 0
  for i in args:
    result += i
  return result / len(args)

In [ ]:
avg_number(1, 2, 3, 4, 5)

In [ ]:
# Q3
input1 = input("첫번째 숫자를 입력:")
input2 = input("첫번째 숫자를 입력:")

total = int(input1) + int(input2)
print("합은 %d이다." % total)

In [ ]:
# Q4
print("you" "need" "python")
print("you" + "need" + "python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

In [ ]:
# Q5
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

In [ ]:
# Q6
user_input = input("입력해주세요:")
f = open("test.txt", 'a')
f.write('\n')
f.write(user_input)
f.close()

In [ ]:
f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

In [ ]:
# Q7
f = open('test.txt', 'r')
body = f.read()
f.close()

body = body.replace('short', 'long')

f = open('test.txt', 'w')
f.write(body)
f.close()

In [ ]:
f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

In [ ]:
# 클래스

result = 0
def add(num):
  global result
  result += num
  return result

print(add(3))
print(add(5))

In [ ]:
result1 = 0
result2 = 0

def add1(num):
  global result1
  result1 += num
  return result1

def add2(num):
  global result2
  result2 += num
  return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

In [ ]:
class Calculator:
  def __init__(self):
    self.result = 0

  def add(self, num):
    self.result += num
    return self.result
  
  def sub(self, num):
    self.result -= num
    return self.result

In [ ]:
cal1 = Calculator()
cal2 = Calculator()

In [ ]:
print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

In [ ]:
class FourCal:
  pass

In [ ]:
a = FourCal()

In [ ]:
type(a)

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

In [ ]:
a.setdata(4, 2)

In [ ]:
a.first

In [ ]:
a.second

In [ ]:
a = FourCal()
a.setdata(8, 4)
print(a.first)
print(a.second)

In [ ]:
a = FourCal()
b = FourCal()

a.setdata(4, 2)
print(a.first)

b.setdata(3, 7)
print(b.first)

In [ ]:
print(a.first)

In [ ]:
abc = FourCal()
bcd = FourCal()

abc.setdata(4, 2)

bcd.setdata(3, 7)

In [ ]:
id(abc.first)

In [ ]:

id(bcd.first)

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

In [ ]:
a = FourCal()
b = FourCal()

a.setdata(4, 2)
b.setdata(3, 8)

print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print("\n")
print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

In [ ]:
a = FourCal()
a.add()

In [ ]:
class FourCal:
  def __init__(self, first, second):
    self.first = first
    self.second = second
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

In [ ]:
a = FourCal(4, 2)
b = FourCal(3 ,4)

print(a.add())
print(a.mul())
print(a.sub())
print(a.div())
print("\n")
print(b.add())
print(b.mul())
print(b.sub())
print(b.div())

In [ ]:
class MoreFourCal(FourCal):
  pass

In [ ]:
a = MoreFourCal(111, 55)

In [ ]:
print(a.add())
print(a.mul())
print(a.sub())
print(a.div())

In [ ]:
class MoreFourCal(FourCal):
  def pow(self):
    result = self.first **self.second
    return result

In [ ]:
a = MoreFourCal(4, 2)
a.pow()

In [ ]:
# 메서드 오버라이딩
a = FourCal(4, 0)
a.div()

In [ ]:
class SafeFourCal(FourCal):
  def div(self):
    if self.second == 0:
      return 0
    else:
      return self.first / self.second

In [ ]:
a = SafeFourCal(4, 0)
a.div()

In [ ]:
# 클래스 변수
class Family:
  lastname = "김"

In [ ]:
print(Family.lastname)

In [ ]:
a = Family()
b = Family()

print(a.lastname)
print(b.lastname)

In [ ]:
Family.lastname = "박"

In [ ]:

print(a.lastname)
print(b.lastname)

In [ ]:
id(Family.lastname)

In [ ]:
id(a.lastname)

In [ ]:
id(b.lastname)

In [ ]:
# 251
# 클래스 : 
# 객체 : 
# 인스턴스 :

In [ ]:
# 252
class Human:
  pass

In [ ]:
# 253
class Human:
  pass
areum = Human()

In [ ]:
# 254
class Human:
  def __init__(self):
    print("응애응애")
areum = Human()