# 01 Python 기본

## 1. 자료형

- 변수명
    + 문자, 숫자, 언더바(_) 로 구성
    + 숫자는 처음에 나올 수 없음
    + 대소문자 구분
    + 예약어 사용 안됨 : and, as, break, class, def, del, elif, if, while, with, return 등등


### 1.1 정수형 Integer

In [1]:
a = 10
b = 15
c = 100

In [2]:
# 덧셈
result = a + b + c
print(result)

125

In [3]:
# 곱셉
result = b * c
print(result)

1500

In [4]:
# 나눗셈
result1 = c / a
result2 = c // a
result3 = c / b
result4 = c // b
print(result1, result2)
print(result3, result4)

10.0 10
6.666666666666667 6

In [5]:
# 나머지
result1 = c % a  # 100을 10으로 나눈 나머지 0
result2 = c % b  # 100을 15로 나눈 나머지 10
print(result1, result2)

0 10

In [6]:
# 승수
result1 = a ** 2
result2 = 3 ** 3
result3 = 9 ** 2
print(result1, result2, result3)

100 27 81

### 1.2 실수형 Float

정수형과 연산은 비슷한 방식

In [7]:
a = 12.3
b = 3.0
c = 24.6

In [8]:
# 덧셈
result = a + b + c
print(result)

39.900000000000006

In [9]:
# 곱셉
result = b * c
print(result)

73.80000000000001

In [10]:
# 나눗셈
result1 = c / a
result2 = c // a
result3 = c / b
result4 = c // b
print(result1, result2)
print(result3, result4)

2.0 2.0
8.200000000000001 8.0

In [11]:
# 나머지
result1 = c % a  # 100을 10으로 나눈 나머지 0
result2 = c % b  # 100을 15로 나눈 나머지 10
print(result1, result2)

0.0 0.6000000000000014

In [12]:
# 승수
result1 = a ** 2
result2 = 1.1 ** 3
result3 = 2.0 ** 2
print(result1, result2, result3)

151.29000000000002 1.3310000000000004 4.0

### 1.3 문자열

In [13]:
str1 = 'abcdef'
str2 = "abcdef"
str3 = """abcdef"""

print(str1, str2, str3)

abcdef abcdef abcdef

In [14]:
# 덧셈 연산으로 문자열 이어붙이기
'abc' + 'def'

'abcdef'

In [15]:
# 곱셈 기호로 문자열 반복하기
'abc' * 2

'abcabc'

In [16]:
# 인덱싱
str1 = 'abcdef'
print(str1[0], str1[1], str1[2], str1[3])

a b c d

In [17]:
# 슬라이싱 : 시작, 끝 인덱스. 끝은 미포함
str1 = '0123456'
print(str1[3:5])

34

In [18]:
# 슬라이싱 : - 를 활용해서 역순 가능
str1 = '0123456'
print(str1[::-1])
print(str1[-1:-3:-1])
print(str1[-1:-4:-2])

6543210
65
64

### 1.4 boolean

참 거짓을 의미

In [19]:
a = True
b = False

In [20]:
print(a, b)

True False

In [21]:
print(a*3)
print(b*3)

3
0

### 1.5 List

다양한 원소들을 순서대로 담을 수 있는 리스트 == 값들의 모임

In [22]:
colors = ['red', 'blue', 'green']
numbers = [1, 2, 3, 4, 5]

print(colors)
print(numbers)

['red', 'blue', 'green']
[1, 2, 3, 4, 5]

In [23]:
# append로 원소 추가하기
colors.append('yellow')
colors

['red', 'blue', 'green', 'yellow']

In [24]:
# 원하는 위치에 원소 추가하기
colors.insert(1, 'black')
colors

['red', 'black', 'blue', 'green', 'yellow']

In [25]:
# 원소 제거하기
colors.pop()  # 아무것도 안넣으면 마지막 원소 return, 제거
colors

['red', 'black', 'blue', 'green']

In [26]:
# 원소 제거하기
colors.pop(0)  # 지우고싶은 원소의 인덱스 특정하기
colors

['black', 'blue', 'green']

In [27]:
# 원소 제거하기
colors.remove('blue')  # 값으로 제거하기
colors

['black', 'green']

In [28]:
# 다른 리스트와 합치기
colors.extend(numbers)
colors

['black', 'green', 1, 2, 3, 4, 5]

In [29]:
# 다른 리스트와 합치기 2
print(colors + numbers)

['black', 'green', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [30]:
# 원하는 인덱스 얻기
colors.index('green')

1

### 1.6 SET (집합 개념)

- 유니크한 값들의 모임
- 순서가 없음

In [31]:
src = [1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 'a', 'a', 'b', 'c', 'c']
my_set = set(src)
print(my_set)

{1, 2, 3, 'b', 'c', 'a'}

In [32]:
for element in my_set:
    print(element)

1
2
3
b
c
a

### 1.7 튜플 tuple

- list와 거의 비슷한 값들의 모임
- 포함되어있는 값 변경 불가능

In [33]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
print(t1, t2, t3)

() (1,) (1, 2, 3)

In [34]:
# 원소 삭제 불가능 -> 오류
del t2[0]

TypeError: 'tuple' object doesn't support item deletion

In [35]:
# 원소 변경 불가능 -> 오류
t3[2] = 100

TypeError: 'tuple' object does not support item assignment

### 1.8 Dictionary

- key, value의 쌍으로 이루어진 사전형 자료구조

In [36]:
d1 = {'k1': 10, 'k2': 20, 'k3': 30}
d2 = {11: 'aaa', 22: 'bbb', 33: 'ccc'}
d3 = {'alphabet': ['a', 'b', 'c'], 'numbers': (1, 2, 3)}
print(d1)
print(d2)
print(d3)

{'k1': 10, 'k2': 20, 'k3': 30}
{11: 'aaa', 22: 'bbb', 33: 'ccc'}
{'alphabet': ['a', 'b', 'c'], 'numbers': (1, 2, 3)}

In [37]:
# 원하는 값을 가져오고싶을 때 : 대괄호를 사용
d1['k2']

20

In [38]:
# 특정 값을 변경하고 싶을 때
d1['k2'] = 999
print(d1)

{'k1': 10, 'k2': 999, 'k3': 30}

### 1.9 연산자

- 산술 연산자 : `+`, `-`, `*`. `/`, `//`, `%`, `**
- 비교 연산자
    + `==`, `!=` : 같은지, 다른지
    + `>`, `>=`  : 좌항이 우항보다 큰지, 크거나 같은지
    + `<`, `<=`  : 좌항이 우항보다 작은지, 작거나 같은지

In [39]:
1 == 1

True

In [40]:
'abc' == 'abc'

True

In [41]:
"Hello" != "Hi"

True

In [42]:
100 <= 99

False

- 할당 연산자 : 위 산술 연산자 사용한 코드를 좀 더 간결하게 할 때 사용

In [43]:
a = 10
a *= 2
print(a)

20

In [44]:
a = 99
a %= 5
print(a)

4

In [45]:
a = 2
a **= 3
print(a)

8

- 논리 연산자
    + `and` : 좌, 우항이 모두 True일 때 True
    + `or` : 좌, 우항 중 하나만 True이면 True
    + `not` : 논리 상태를 반전

In [46]:
c1 = True
c2 = False

In [47]:
c1 and c2

False

In [48]:
c1 or c2

True

In [49]:
not c1

False

- 비트 연산자(Bitwise 연산자) : 2진법으로 비트화하여 나타냈을 때 각 비트 자리에 대해서 연산
    + `&` : AND 연산자
    + `|` : OR 연산자
    + `^` : XOR 연산자
    + `~` : 보수 연산자
    + `<<` : 왼쪽 시프트 연산자
    + `>>` : 오른쪽 시프트 연산자

In [50]:
# a = 60, 0011 1100
# b = 13, 0000 1101
a = 60
b = 13

In [51]:
# 12, 0000 1100
a & b

12

In [52]:
# 61, 0011 1101
a | b

61

In [53]:
# 49, 0011 0001
a ^ b

49

In [54]:
~a

-61

In [55]:
# 원래 : 0000 1101
# 변경 : 0011 0100
b << 2

52

In [56]:
# 원래 : 0000 1101
# 변경 : 0000 0001
b >> 3

1

- 멤버 연산자
    + `in`
    + `not in`

In [57]:
'a' in ['a', 'b', 'c']

True

In [58]:
'b' in 'abcd'

True

In [59]:
100 in [1, 2, 3, 4, 5]

False

In [60]:
99 not in ['a', 'b', 10, 20]

True